.page-navi {
    text-align: right;
    display: inline-block;
    width: 100%;  
    padding-left: 15px;
    padding-right: 15px;  
    .container {
    	padding: 0;
    }
    .page-numbers {
		padding: 5px 10px;
		border: 1px solid #999;
		color: #999999;
		font-size: 14px;
	}
	.current {
	    color: #000;
	    border: 1px solid $blue-primary;
	}
}



//pagenavi listing
.pagination {
	display: block;
    text-align: right;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; 
    ul {
    	list-style-type: none;
	    display: inline-block;
	    padding: 0;
	    li {
		    float: left;
		    padding: 0 3px;
		    a, span {
				padding: 5px 10px;
				border: 1px solid #999;
				color: #999999;
				font-size: 14px;
			}
			.current {
			    color: #000;
			    border: 1px solid $blue-primary;
			}
		}
	}
}