@font-face{
    font-family: Time News Roman;
    src: url('../fonts/times.ttf'),
    url('../fonts/timesbd.ttf');
    font-weight: normal;
}
@font-face{
    font-family: Arial Regular;
    src: url('../fonts/arial.ttf');
}
@font-face{
    font-family: Arial bold;
    src: url('../fonts/ariblk.ttf');
}
@font-face{
    font-family: Calibri Regular;
    src: url('../fonts/calibri.ttf');
}
@font-face{
    font-family: Calibri Bold;
    src: url('../fonts/calibrib.ttf');
}
a:hover, a:focus, a:active{ text-decoration: none; outline: none; @include transition(all 500ms ease 0s); }
input, select, textarea { outline: none; }
input:focus, select:focus, textarea:focus { outline: none; }
img { max-width: 100%; height: auto; }

body {
font-family: Arial Regular;
}
figure {
    margin: 0;
}
.widget p {
    margin: 0;
}

.msc-listing {
    width: 100%;
}
.main {
    display: inline-block;
    width: 100%;
}

/* @extend background-cover; */
background-cover {
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
.home-tax-title {
    position: relative;
    border-bottom: 3px solid $blue-primary;
    margin: 0 0 20px 0;
    h2 {
        color: #fff;
        background: $blue-primary;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        // min-width: 200px;
        position: relative;
        margin: 0 0 -3px 0;
        padding: 10px 30px 10px 10px;
        &:after {
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            border-top: 38px solid transparent;
            border-left: 30px solid $blue-primary;
        }
        &:before {
            content: "";
            height: calc(100% - 3px);
            width: 10px;
            background: #fff;
            right: -4px;
            top: 0;
            position: absolute;
            z-index: 2;
            @include transform( skew(38deg) );
        }
    }
    a {
        position: absolute;
        right: 0;
        bottom: 0px;
        font-size: 14px;
        color: $blue-primary;
    }
}
.woocommerce-breadcrumb{
    color: $blue-primary;
    a{
        color: #000;
    }
}
.single-title{
    font-size: 24px;
    color: #000;
    border-bottom: 1px solid $blue-primary;
    padding: 10px 0;
    margin: 30px 0 0 0;
}
.pagination{
    ul{
            li{
            float: left;
            list-style: none;
            .page-numbers{
                border: 1px solid #999;
                padding: 5px 13px;
            }
            .current{
                border: 1px solid $blue-primary;
            }
        }
    }
}
.breadcrumb{
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
    .woocommerce-breadcrumb{
        color: $blue-primary;
        margin: 0px;
        font-size: 14px;
        a{
            color: #000;
        }
    }
}
.page-search{
    margin-bottom: 30px;
    .entry-title{
       font-size: 25px;
        margin-bottom: 15px;
    }
}
.checked {
    color: #acacac;
}
.cart-empty{
    display: none;
}
.zoomLens{
    width: 150px !important;
    height: 150px !important;
}
.woocommerce-customer-details--city{
    .fa{
        margin-right: 10px;
    }
}
#comments{
    form{
        textarea{
            max-height: 100px;
        }
        label{
            width: 100px;
        }
        .form-submit{
            input{
                color: #fff;
                background: $blue-primary;
                border: none;
                    padding: 5px 10px;
                &:hover{
                    background: #a3c2d2;
                    color: #fff;
                }
            }
        }
    }
}

                





