.error-page{
	.home-tax-title{
		margin-top: 30px;
	}
	.text{
		text-align: center;
		width: 50%;
		float: left;
		p{
			color: #8c97a1

		}
		.p1{
			text-transform: uppercase;
			font-family: Calibri Bold;
			font-size: 36px;
		}
		.p2{
			font-size: 24px;
		}
		.p3{
			font-family: Calibri Regular;
			font-size: 16px;
		}

	}
	.img{
		margin-left: 15px;
	}
}