.footer{
	.footer-top{
		background: #133765;
		color: #fff;
		padding: 7px 0px;
		p{
			text-align: center;
			font-size: 24px;
			margin: 0px;
		}
	}
	.footer-midle{
		padding: 35px 0px;
		color: #133765;
		.doitac{
			img{
				margin-bottom: 2px;
			}
		}
		.info, .gift, .blog{
			a{
				color: #133765;
				font-size: 14px;
			}
			.widget-title{
				text-transform: uppercase;
			    font-size: 16px;
			    font-weight: 700;
			}
		}
		.info{
			span{
				display: block;
				font-size: 14px;
				.fa{
					width: 15px;
				}
			}

		}
		.gift{
			ul{
				padding-left: 0px;
				background: none;
				&:after{
					background: none;
				}
				li{
					list-style: none;
				}
			}

		}
		.blog{
			ul{
				background: none;
				&:after{
					background: none;
				}
				padding-left: 0px;
				li{
					list-style: none;
				}
			}

		}
		.subcribe{
			p{
				font-size: 16px;
				font-weight: 600;
				margin-top: -8px;
			}
			.email{ 
				margin-top: 0px;
				position: relative;
				line-height: 30px;

						position: relative;
						padding: 0px;
						.mc-field-group{
							width: 100%;
						}
						input{
							width: 100%;
							
							border: 1px solid #d9d9d9;
							color: #000;
							font-size: 14px;
							padding: 0px 0px 0px 15px;
							border-radius: 0px;
						}
						.wpcf7-submit{
							position: absolute;
							right: 0px;
							border: none;
							padding: 1px 9px;
							background: $blue-primary;
							color: #fff;
							cursor: pointer;
							top: 38px;
						    width: 25%;
						    margin-bottom: 0px;
						    margin-right: 0px;
						}
						.wpcf7-mail-sent-ok{
							margin: 0px;
						    padding: 0px;
						    color: #398f14;
						    border: none;
						    font-size: 14px; 
						}
						.wpcf7-validation-errors, .wpcf7-mail-sent-ng{
							margin: 0px;
						    padding: 0px;
						    color: red;
						    border: none;
						    font-size: 14px; 
						}
						span.wpcf7-not-valid-tip{
							margin-top: 5px;
							font-size: 14px;
						}
						.wpcf7-validation-errors{
							margin-top: -60px;
						}
			}
		}

	}
	.footer-bottom{
		background: #c4c4c4;
		color: #133765;
		p{
			margin-bottom: 0px;
			text-align: center;
			line-height: 40px;
			font-size: 14px;
		}
	}

}