
.header{
	.header-top{
		background: #58595b;
		height: 30px;
		color: #d1d1d2;
		padding: 0 50px;
		line-height: 25px;
		.address{
			max-width: 50%;
			float: left;
			clear: both;
			line-height: 30px;
		}
		.phone{
			max-width: 50%;
			float: right;
			line-height: 30px;
		}
		a{
			color: #d1d1d2;
		}
	}
	.header-bottom{
		color: #000;
		padding: 25px 0;
		.logo{
				.img_logo{
					max-width: 73%;
				}
				.full_logo{
					position: absolute;
					right: 15px;
					bottom: 40px;
					.text_logo{
						position: relative;
						font-size: 16px;
						color: #dbdcdd;
						margin-bottom: 0px;
						&:before{
							position: absolute;
							width: 100%;
							content: "";
							top: 0px;
							height: 2px;
							background: #c2c0c0;
						}
						&:after{
							position: absolute;
							width: 100%;
							content: "";
							bottom: 0px;
							height: 2px;
							background: #c2c0c0;
							left: 0px;
						}
					}
				}
				.dai_dien{
					.dai_dien_doc_quyen{
						text-transform: uppercase;
					    font-size: 14px;
					    // margin-top: 0px;
					    margin-bottom: 0px;
						color: #58595b;
						margin-top: 10px;
					}
				}
			}
		.brand{
			p{
				text-align: center;
				color: $blue-slogan;
				font-size: 30px;
				font-family: Time News Roman;
				margin-bottom: 0px;
			}
			.thuong_hieu{
				text-transform: uppercase;
				font-size: 27px;
				font-weight: bold;
				margin-bottom: 0px;
				font-family: Time News Roman;
			}
		}
		.search{
			text-align: right;
			a{
				color: $blue-primary;
			}
			.header-search{
				form{
					position: relative;
				}
				input{
					width: 100%;
					color: #000;
					border: 1px solid #d9d9d9;
					padding: 5px 16px;
					font-size: 12px;
					margin-top: 20px;
				}
				input-placeholder{
					color: #acacac;
				}
				.search-icon{
					position: absolute;
					top: 20px;
					right: 0px;
					background: $blue-primary;
					padding: 3px 8px;
					border: none;
					i{
						color: #fff;
						cursor: pointer;
					}
				}
			}
			.header-cart{
				position: relative;
				.login{
					float: right;
					clear: both;
				    position: relative;
				    z-index: 1000;
				    top: 12px;
				}
				.cart{
					color: $blue-primary;
					text-align: left;
					padding-left: 60px;

					.cart-icon{
						position: relative;
						font-size: 25px;
						margin-right: 15px;
						// padding-top: 10px;
						
					}
					.cart-total{
						position: absolute; 
						font-size: 14px;
						top: 0px;
						left: 85px;
						font-weight: bold;

					}
				}
			}
		}
	}
}
