.widget-tax .widget-title {
    background: $blue-primary;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
}

.widget-tax {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 20px 0;
        li {
            position: relative;
            a {
                display: block;
                text-align: center;
                border-bottom: 1px solid #cccccc;
                background: #ebebeb;
                padding: 10px 20px;
                color: $blue-slogan;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 700;
            }
            .tax-sub {
                position: absolute;
                left: 100%;
                top: 0;
                width: 100%;
                display: none;
                z-index: 10;
            }
            &:hover {
                > a {
                    background: $blue-nhat;
                    color: $blue-slogan;
                }
                .tax-sub {
                    display: block;
                }
            }
        }
        .tax-sub-hover:after {
            content: "";
            position: absolute;
            right: 12px;
            top: 15px;
            width: 12px;
            height: 12px;
            border-top: 2px solid $blue-slogan;
            border-right: 2px solid $blue-slogan;
            @include transform( rotate(45deg) );
        }
    }
}

.widget {
    img {
        width: 100%;
    }
}
