.archive-product-content .item .item-content {
    margin: 0 0 30px 0;
}
.archive-product{
	margin-bottom: 30px;
}
.category-custom{
	.header-title{
		text-align: center;
	    color: $blue-primary;
	    font-size: 24px;
	    font-weight: 700;
	}
	.item{
		border-bottom: 1px solid #d7d7d7;
		margin: 20px 0px;
		img{
			@extend background-cover;
		}
		.title{
			h3{
				font-size: 18px;
				color: $blue-primary;
			}
		}
			.desc{
				font-size: 14px;
				color: #000;
				// max-height: 80px;
				p{
				    margin-bottom: 20px;
				    height: 60px;
				    overflow: hidden;
				}
			}
	}
}