.woocommerce{
		#shop_table{
			border: none;
			text-align: center;
			.shop_table_title{
					background: $blue-primary;
					color: #fff;
					font-weight: bold;
					font-size: 16px;
					th{
						border-right: 1px solid #fff;
						&:first-child, &:nth-child(5){
							border-right: none;
						}
					}
			}
			.cart_item{
				td{
					border-bottom: 1px solid #999;
				}
				color: #000;
				font-size: 14px;
				.product-remove{
					.remove{
						.fa{
							color: #ababab;
						}
						&:hover{
							background: none;
							color: #ababab;
						}
					}
				}
				.product-name{
					a{
						color: #000;
						font-weight: bold;
					}
				}
				.product-thumbnail{
					padding: 0px;
					min-width: 65px;
					img{
						width: 65px;
					}
				}
			}
		}
		.update{
		    float: right;
		    clear: both;
		    background: $blue-primary;
		    color: #fff;
		    opacity: 1;
		    background-color: $blue-primary;
		    
		    .button{
		    	border-radius: 0px;
		    	border: none;
		    	color: #fff;
		    	background-color: $blue-primary;
		    }
		}
		.button{
			background: $blue-primary;
			color: #fff;
		}
		.cart-subtotal{
			float: right;
			font-weight: bold;
			font-size: 16px;
			span{
				display: inline-block;
			}
			.total_cart{
				width: 105px;
			}
		}
		.continue-cart{
			clear: both;
			float: right;
			.back-to-continue{
				font-style: italic;
				color: $blue-primary;
				margin-right: 20px;
			}
			.wc-proceed-to-checkout{
				display: inline-block;
				.button{
					background: $blue-primary;
					color: #fff;
					font-weight: bold;
					font-size: 14px;
					border-radius: 0px;
				    padding: 10px 34px;
				    &:hover{
				    	background: $blue-nhat;
				    	color: $blue-primary;
				    }
				}
			}
		}
}
.woocommerce input.button:hover{
	background-color: $blue-nhat;
	color: $blue-primary;
}