.woocommerce{
	.checkout{
		h3{
			background: $blue-primary;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			padding: 11px;
			span{
				float: right;
				font-weight: normal;
			}

		}
		.woocommerce-billing-fields__field-wrapper{
			border: 1px solid #d2d2d2;
			overflow: hidden;
			padding: 20px;
			#billing_country_field{
				display: none;
			}
			#billing_first_name_field,
			#billing_phone_field, 
			#billing_address_1_field,
			#billing_address_2_field{
				margin-right: 23px;
			}
			#billing_last_name_field,
			#billing_email_field,
			#billing_state_field,
			#billing_city_field{
				margin-right: 0px;
			}
			#billing_address_1_field, #billing_city_field, #billing_company_field{
				width: 100%;
				padding-right: 3px;
			}
			.form-row{
				float: left;
				width: 48%;
				label{
					font-size: 14px;
					color: #000;
					margin-bottom: 0px;
					.required{
						color: #000;
					}
				}
				input{
					padding: 5px 0px 5px 15px;
				}
				select{
					padding: 4px 0px 4px 15px;
				}
				input, textarea, select{
					border: 1px solid #d2d2d2;
					padding-left: 15px;
				}
			}
			.note-bill{
				width: 100%;
			}
			.woocommerce-validated{
				.input-text {
					border-color: #d2d2d2;
				}
			}
		}
		.woocommerce-checkout-review-order{
			.shop_table{
				border: 1px solid #d2d2d2;
				border-radius: 0px;
				// display: block;
				width: 100%;
				border-collapse: collapse;

				td{
					border-top: none;
				}
				tbody{
					font-size: 14px;
					width: 100%;
					th{
						border-top: none;
						font-weight: 400;
					}
					.header-table{
						    border-bottom: 1px solid #d2d2d2;
						    width: 100%;
					}
					.right{
						text-align: right;
					}
					.shipping, .order-total{
						font-weight: bold;
					}
				}
				.cart-subtotal{
					float: none;
				    width: 100%;
				    border-top: 1px solid #d2d2d2;
				}
				.order-total{
					border-top: 1px solid #d2d2d2;
				}
			}
			.woocommerce-checkout-payment{
				display: none;
			}
		}
		.continue-cart{
			.wc-proceed-to-checkout{
				.button{
					padding: 10px 15px;
				}
			}
		}
	}
}