.contact-page{
	margin-bottom: 45px;
	.contact{
		.content-contact{
			border-bottom: 1px solid #d2d2d2;
		    padding-bottom: 20px;
		    margin-bottom: 20px;
			span{
				display: block;
				.fa, a{
					color: #000;
					width: 15px;
				}
			}
		}
		form{
			label{
				color: #000;
				width: 100%;
				margin-top: 10px;
				.wpcf7-form-control-wrap{
					input, textarea{
						width: 100%;
						border: 1px solid #58595b;
						margin-top: 10px;
						padding-left: 15px;
					}
				}
			}
			.wpcf7-submit{
				background: #308fdd;
			    border: none;
			    color: #fff;
			    font-size: 14px;
			    padding: 8px 15px;
			    float: right;
			    clear: both;
			}
			.wpcf7-validation-errors, .wpcf7-mail-sent-ng{
				border: none;
				color: red;
			    margin: 0px;
			    padding: 0px;
			    margin-top: 20px;
			    text-transform: uppercase;
			    font-weight: bold;
			    font-size: 15px; 
			}
		}
	}
}