.front-page-content{
    margin-top: 20px;
    .woocommerce-message{
        a{
            background: $blue-primary;
            color: #fff;
            font-weight: bold;
            padding: 5px 10px;
        }
    }
}
.banner {
    margin-bottom: 30px;
    .banner-content {
        position: relative;
        margin: 0;
        img {
            @extend background-cover;
        }
        .slick-dots {
            position: absolute;
            bottom: 10px;
            left: 0;
            li {
                width: auto;
                height: auto;
                button {
                    padding: 7px;
                    width: auto;
                    height: auto;
                    background: #fff;
                    border: 1px solid $blue-slogan;
                    @include border-radius( 50%);
                    &:before {
                        content: "";
                    }
                }
            }
            .slick-active button {
                background: $blue-slogan;
            }
        }
    }
}

.home-tax-content {
    .msc-listing {
        display: flex;
        display: -webkit-flex;
        @include flex-wrap( wrap);
        .item {
            .item-content {
                border: 1px solid #cccccc;
                margin: 0 0 30px 0;
                figure {
                    a {
                        img {
                            @extend background-cover;
                        }
                    }
                }
                .p-info {
                    text-align: center;
                    padding: 10px 20px;
                    .p-msp {
                        margin: 10px 0;
                        font-size: 14px;
                        color: #010000;
                    }
                    .p-title a h3 {
                        color: $blue-primary;
                        font-size: 16px;
                        height: 20px;
                        line-height: 1.4;
                        padding: 0;
                        overflow: hidden;
                    }
                    .p-price {
                        color: red;
                        font-weight: bold;
                        margin: 10px 0;
                        font-size: 15px;
                        .price{
                            font-size: 15px;
                        }
                    }
                    .p-button {
                        display: flex;
                        display: -webkit-flex;
                        @include justify-content( space-between );
                        a {
                            // width: calc(50% - 5px);
                            background: $blue-primary;
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: normal;
                            width: 49%;
                            padding: 8px;
                            color: #fff;
                            line-height: 18px;
                            &:hover {
                                background: $blue-nhat;
                                color: #000;
                            }
                        }
                        .cart{
                            .button{
                                background: $blue-primary;
                                text-transform: uppercase;
                                font-size: 14px;
                                font-weight: normal;
                                padding: 9px 14px;
                                color: #fff; 
                                border: none;
                                border-radius: 0px;
                                line-height: 18px;
                                &:hover {
                                    background: $blue-nhat;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}