#login{
	.modal-dialog{
		top: 0%;
		max-width: 360px;
		.modal-content{
			border-radius: 0px;
			border: none;
			border-top: 3px solid #a5c1d2;
			.modal-header{
				display: inline-block;
				padding: 0px;
				border-bottom: none;
				.close{
					padding: 8px;
					width: 30px;
					border: 1px solid #fff;
					border-radius: 50%;
					color: #fff;
					background: $black;
					font-size: 13px;
					font-weight: 400;
					opacity: 1;
					cursor: pointer;
				}
				.modal-title{
					text-align: center;
					font-size: 24px;
					color: $black;
					padding: 10px;
				}
			}
			.modal-body{
				.login-remember{
					display: none;
				}
				p{
					padding: 0px 15px;
					margin-bottom: 20px;
					label{
						color: $black;
						font-size: 14px;
					}
					input{
						width: 100%;
						border: 1px solid #999;
						color: #666;
						font-size: 14px;
						padding: 6px;
					}
						#rememberme{
							width: 15px;
							margin-top: 10px;
						}
				}
				.login-submit{
					text-align: center;
					margin-top: 20px;
					width: 40%;
					margin-left: auto;
					margin-right: auto;
					    margin-bottom: 0px;
					.button{
						border: none;
						background: $blue-primary;
						color: #fff;
						padding: 5px 15px;
						text-align: center;
						line-height: 25px;
						cursor: pointer;
					}
				}
			}
			.modal-footer{
				border-top: none;
				display: inline-block;
				text-align: center;
				font-size: 13px;
				padding-top: 0px;
			}
		}
	}
}