.header-menu{
	background: $blue-primary;
	.container{
		.menu {
			position: relative;
		    width: 100%;
		    display: inline-block;
			font-family: Arial Regular;
		    font-weight: bold;
		    &::after {
			    background: red;
			    content: "";
			    height: 100%;
			    position: absolute;
			    right: 100%;
			    top: 0;
			    width: 100%;
			    z-index: -1;
			}
		    .main-menu {
				> div {
			        ul {
			        	list-style-type: none;
					    margin: 0;
					    padding: 0;
					    display: flex;
			            li {
						    position: relative;
						    width: 100%;
						    text-align: center;
						    &:hover{
						    	border-left: 1px solid #fff;
						    	border-right: 1px solid #fff;
						    }
			                &:after{
			                	width: 1px;
			                	height: 75%;
			                	position: absolute;
			                	background: #acc0d9;
			                	top: 5px;
			                	right: -1px;
			                	content: "";
			                	opacity: 1;
			                }
			                &:last-child{
			                	&:after{
			                		opacity: 0;
			                	}
			                }
			                a {
							    color: #ffffff;
							    display: block;
							    font-size: 16px;
							    padding: 10px 20px;
							    position: relative;
							    text-transform: uppercase;
							    white-space: nowrap;
							    font-weight: 500;
							    &:hover{
							    	color: $blue-primary;
							    }
			                }
			                .sub-menu{
								li{
									&:last-child{
										a{
											border-bottom: none;
										}
									}
									a{
										text-transform: none;
										color: #444;
										font-size: 13px;
										border-bottom: 1px solid #000;
										padding: 8px 10px;
										&:hover{
											color: #fff;
										}
									}
								}
			                }
			                &:hover {
			                    > a {
								    background: $blue-nhat;
								}
			                    > .sub-menu {
			                        @include transform( scale(1, 1) );
			                    }
			                    &:after{
			                    	opacity: 0;

			                    }
			                }
			            }
			            .current-menu-item > a {
			            	background: $blue-nhat;
			            	color: $blue-primary;
			            }
			            .current-menu-item{
			            	&:after{
			            		opacity: 0;
			            		
			            	}
			            }
			        }
			        > ul {
			            > li {
			                float: left;
			                .sub-menu {
			                	background: #fff;
			                    left: 0;
			                    position: absolute;
			                    top: 100%;
			                    z-index: 2222;
			                    min-width: 250px;
							    @include transform( scale(1, 0) );
							    @include transform-origin( 0 0 0 );
							    @include transition( all 400ms ease 0s );
			                    .sub-menu {
								    left: 100%;
								    top: 0;
			                    }
			                    li {
			                    	a {
										
			                    	}
			                    }
			                }
			                &:first-child {
			                	a {
								    .fa {
									    font-size: 24px;
									}
								}
							}
			            }
			        }
			    }
			}
		}

		.menu {
			.search-box {
				display: none;
			    position: absolute;
			    right: 10px;
			    top: 50%;
			    @include transform( translateY(-50%) );
			    z-index: 10;
			    form {
				    width: 230px;
				}
			}
		}

		//menu mobile
		.menu .mean-container {
		    position: relative;
		}
		.menu .mean-container .mean-bar {
		    background: none;
		    left: 0;
		    padding: 2px 0 4px;
		    position: absolute;
		    top: 1px;
		    z-index: 9;
		    max-width: 300px;
		}
		.menu .mean-container .mean-bar .meanmenu-reveal {
			background: $blue-primary;
		    border: 1px solid rgba(255, 255, 255, 0.5);
		    left: 0 !important;
		    top: 0;
		    height: 20px;
		    line-height: 20px;
		    width: 22px;
		    padding: 10px 11px 10px;
		}
		.menu .mean-container .mean-bar .mean-nav {
		    background: $blue-primary !important;
		    margin-top: 40px;
		}
		.menu .mean-container .mean-nav ul li a {
		    font-size: 18px;
		    padding-bottom: 6px;
		    padding-top: 10px;
		    text-transform: none;
		}
		.menu .mean-container .mean-nav ul li .mean-expand {
		    height: 19px;
		    line-height: 19px;
		}
		.menu .mean-container .mean-nav ul li .mean-expand:hover {
		    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
		}
	}
}



