@media screen and (max-width: 1199px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
//end 1200px

@media screen and (max-width: 1024px) {
	//breadcrums
	.breadcrumb .container{
		padding-left: 0px;
	}
	//header
	.header{
		.header-top{
			padding: 0px;
		}
		.header-bottom{
			.logo{
				.full_logo{
					right: -10px;
					bottom: 50px;
				}
				.dai_dien .dai_dien_doc_quyen{
					font-size: 12px;
				}
			}
			.brand{
				.thuong_hieu{
					font-size: 23px;
				}
				p{
					font-size: 25px;
				}
			}
		}
		.header-menu{
			.container{
				padding-left: 0px;
				.menu{
					z-index: 100000;
					.mean-container{
						padding: 17px 0px;
						.mean-bar{
							max-width: 50%;
							top: 0px;
							.meanmenu-reveal{
								padding: 9px 11px 10px;
							}
						}
					}
				}
			}
		}
	}
	.header-menu .container .menu .mean-container .mean-nav ul li a{
		width: 83%;
		padding-left: 17px;
	}
	.header .header-bottom .search .header-cart .cart{
		padding-left: 0px;
	}
	.header .header-bottom .search .header-cart .cart .cart-total{
		left: 15px;
	}
	.header .header-bottom .search .header-cart .login{
		top: 5px;
	}
	//footer
	.footer .footer-midle .doitac{
		padding-left: 15px;
	}
	.footer .footer-midle .subcribe .email .wpcf7-submit{
		top: 68px;
		width: 30%;
	}
	//breadcrums
	.breadcrumb{
		margin-top: 0px;
	}
	//front page
	.home-tax-content .msc-listing .item .item-content .p-info .p-button .cart .button, .home-tax-content .msc-listing .item .item-content .p-info .p-button a{
		font-size: 12px;
	}
	#content .product .cart .single_add_to_cart_button{
		font-size: 20px;
	}
	.home-tax-content .msc-listing .item .item-content .p-info .p-title a h3{
		height: 40px;
	}
	.home-tax-content .msc-listing .item .item-content .p-info .p-button a{
		font-size: 13px;
	}

}
//end 1024px

@media screen and (max-width: 992px) {
	//header
	.header{
		.header-top{
			font-size: 13px;
		}
		.header-bottom{
			.logo{
				.full_logo{
					right: -20px;
					bottom: 35px;
					.text_logo{
						font-size: 14px;
					}
				}
				img{
					max-width: 85%;
				}
			}
			.brand{
				.thuong_hieu{
					font-size: 18px;
				}
				p{
					font-size: 22px;
				}
			}
			.search a{
				font-size: 14px;
			}
			.search{
				.header-cart{
					.cart{
						.cart-icon{
							font-size: 17px;
							margin-right: 10px;
						}
						.cart-total{
							font-size: 12px;
						}
					}
				}
			}
		}
	}
	//wiget
	.widget-tax ul li a{
		font-size: 13px;
	}
	//product
	#content .product .cart .single_add_to_cart_button{
		font-size: 18px;
	}
	.footer .footer-midle .subcribe .email .wpcf7-submit{
		top: 68px;
	}
}
//end 992px

@media screen and (max-width: 767px) {
	//header
	.header{
		.header-top{
			height: 60px;
			.address, .phone{
				max-width: 100%;
				float: none;
				text-align: center;
			}
		}
		.header-bottom{
			.logo{
				text-align: center;
				margin-bottom: 30px;
				.full_logo{
					right: 0px;
					bottom: 60px;
				}
			}
			.brand{
				.thuong_hieu{
					font-size: 18px;
				}
				p{
					font-size: 22px;
				}
			}
			.search{
				margin: 15px auto 0px auto;
			}
			.search a{
				font-size: 16px;
			}
		}
	}
	//footer
	.footer{
		.footer-midle{
			.doitac, .info, .gift, .blog{
				margin-bottom: 15px;
			}
		}
	}	
	.box-sidebar{
		margin-bottom: 30px;
		.widget_media_image{
			display: none;
		}
	}
	//woocommerce
	.woocommerce{
		.checkout{
			h3{
				font-size: 13px;
			}
			.woocommerce-billing-fields__field-wrapper{
				.form-row{
					width: 100%;
				}
			}
			.woocommerce-checkout-review-order{
				.shop_table{
					tbody{
						font-size: 13px;
					}
				}
			}
		}
		.cart-subtotal{
			font-size: 13px;
		}
	}
	//footer
	.footer .footer-top p{
		font-size: 20px;
	}
	//widget
	.widget-tax ul li .tax-sub{
		left: 50%;
    	top: 40px;
    	width: 50%;
	}
	.product .yith_magnifier_zoom_wrap .yith_magnifier_mousetrap{
		display: none;
	}
	.product .yith_magnifier_zoom_wrap .yith_magnifier_zoom_magnifier {
		display: none !important;
	}
	#content .product .images .yith_magnifier_zoom_wrap, #content .product .images .thumbnails{
		width: 90%;
    	margin: 0 auto
	}
	.size-shop_single{
		border:  1px solid #fff;
	}
}
//end 767px

@media screen and (max-width: 575px) {
	//header
	.header{
		.header-bottom{
			.logo{
				text-align: center;
				margin-left: -20px;
				.full_logo{
					right: 40px;
				}
			}
			.search{
				a{
					font-size: 14px;
				}
			}
		}
	}
	//footer
	.footer{
		.footer-midle{
			text-align: center;
		}
		.footer-top{
			p{
				font-size: 16px;
			}
		}
	}
	//search
	.page-search .entry-title{
		font-size: 24px;
	}
	#content .product figure .slider-for{
		height: 380px;
	}
	#content .product figure .slider-for img{
		height: 360px;
	}
}
//end 575px

@media screen and (max-width: 480px) {
	//header
	.header{
		.header-bottom{
			.logo{
				text-align: center;
				margin-left: -25px;
				.full_logo{
					right: 20px;
				}
			}
		}
	}
	.footer .footer-midle .subcribe .email .wpcf7-submit{
		top: 68px;
	}
	//product
	#content{
		.product{
			.thong-so{
				font-size: 13px;
				ul{
					padding: 10px 0px;
					li{
						span{
							&:first-child{
								width: 70%;
							}
						}
					}
				}
			}
		}
	}
	#content .product .cart .single_add_to_cart_button{
		font-size: 14px;
		padding: 10px 15px;
	}
	#content .product .images .thumbnails .yith_magnifier_gallery li a img{
		height: auto;
		width: 98px;
	}
	#content .product .images .thumbnails .yith_magnifier_gallery li{
		margin-right: 34px;
		width: 110px !important;
	}
	#content .product .images .thumbnails{
		width: 70%;
	}
}
//end 480px

@media screen and (max-width: 400px) {
	//product
	#content{
		.product{
			.product_title{
				font-size: 18px;
			}
			.summary{
				.price{
					span{
						font-size: 30px;
					}
				}
			}
		}
	}
	//header
	.header{
		.header-top{
			font-size: 12px;
			height: 60px;
		}
		.header-bottom{
			.logo{
				margin-left: -30px;
				.full_logo{
					right: 1%;
				}
			}
		}
	}
	//.woocommerce
	.woocommerce .continue-cart .back-to-continue{
		font-size: 13px;
	}
	//front page
	.home-tax-title h2{
		font-size: 15px;
	}
	#content .product figure .slider-for{
		height: 320px;
	}
	#content .product figure .slider-for img{
		height: 300px;
	}
	#content .product .images .thumbnails .yith_magnifier_gallery li{
		margin-right: 10px;
	}
}
//end 400px

@media screen and (max-width: 320px) {
	#content .product .images .thumbnails .yith_magnifier_gallery li{
		margin-right: 5px;
		width: 92px !important;
	}
	#content .product .images .thumbnails .yith_magnifier_gallery li a img{
		width: 85px;
	}
	//header
	.header{
		.header-top{
			font-size: 10px;
			height: 90px;
		}
		.header-bottom{
			.logo{
				margin-left: -26px;
			}
			.brand{
				.thuong_hieu{
					font-size: 14px;
				}
				p{
					font-size: 18px;
				}
			}
		}
	}
	//product
	#content .product .product_title{
				font-size: 16px;
	}
	#content .product .cart .single_add_to_cart_button{
		padding: 10px 10px;
	}
	.home-tax-content .msc-listing .item .item-content .p-info .p-button a{
		padding: 9px 20px;
	}
	.footer .footer-midle .subcribe .email .wpcf7-submit{
		top: 68px;
	}
}




