
#content{
	.product{
		.images{
			.yith_magnifier_zoom_wrap{
				border: 1px solid #999;
				width: 100%;
				img{
					height: auto;
				}
				.yith_magnifier_zoom_magnifier{
					background-color: #fff;
					border: 1px solid #ccc;
				}
				.yith_magnifier_lens{
					border: 1px solid #ccc;
				}
			}
			.thumbnails{
				.yith_magnifier_gallery{
					li{
						border: 1px solid #999;
						margin-right: 10px;
						height: 115px;
						overflow: hidden;
						max-width: 115px;
					    a{
					    	margin: 0px;
							img{
								height: 115px;
								// width: calc(100% - 2px) !important;
								width: 110px;	
							}
					    }
					}
				}
				#slider-next{
					// margin-right: 10px;
				}
			}
		}
		.summary{
			.hangsx{
				padding-bottom: 15px;
				border-bottom: 1px solid #999;
				.img_hangsx{
					text-align: center;
				}
			}
			.product_meta{
				// .posted_in, .tagged_as{
				// 	display: none;
				// }
				.sku_wrapper{
					color: #000;
					font-weight: bold;
					margin: 10px 0;
				}
			}
			.price{
				color: #000;
				span{
					font-size: 25px;
					color: #ea0000;
					font-weight: bold;
				}
			}
			.variations_form{
				.variations{
					// margin-bottom: 0px;
					select{
					    padding: 5px;
					    font-size: 14px;
					    min-width: 50%;
					}
				}
				.quantity {
					.qty{
						padding: 7px;
					}
				}
				.woocommerce-variation-price{
					margin-bottom: 20px;
				}
			}
		}
		.product_title{
		    font-size: 25px;
		    color: $blue-primary;
		    font-weight: bold;
		    text-transform: uppercase;
		    margin-top: 20px;
		}
		.masp{
			color: #000;
			font-weight: bold;
			margin: 10px 0;
		}
		.woocommerce-product-details__short-description {
		    color: #000;
		    text-align: justify;
		    font-size: 14px;
		}
		.cart{
			.single_add_to_cart_button{
				background: #1f5598;
			    border-radius: 0px;
			    margin-right: 30px;
			    text-transform: uppercase;
			    font-size: 20px;
			    padding: 10px 30px;
			}
		}
		.thong-so{
			border-bottom: 1px solid $blue-primary;
			ul {
				list-style-type: none;
			    margin: 0;
			    padding: 20px 30px;				
				li {
				    border-bottom: 1px solid #d2d2d2;
				    padding: 8px 0;
				    display: flex;
				    span {
				    	width: 100%;
				    	&:first-child {
						    font-weight: bold;
						    width: 30%;
						}
				    }
				    &:last-child {
					    border: none;
					}
				}
			}
		}
		.product-info{
			clear: both;
			position: relative;
			&:before{
				width: 100%;
				position: absolute;
				height: 3px;
				background: #efefef;
				top: 0px;
			}
			.product-info-content {
			    padding: 10px 0;
			}
			.info{
				color: #000;
				font-size: 14px;
			}
		}
	}
}

.related-product{
	h2 {
	    margin: 50px 0 20px 0;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 24px;
	}
	.msc-listing{
		@include flex-wrap(nowrap);
		overflow: hidden;
	}
}
				.slick-prev{
					left: 0px;
					z-index: 100;
				}
				.slick-next{
					right: 7px;
					z-index: 100;
				}
.slick-prev:before, .slick-next:before{
	color: #000;
}

